*{
    box-sizing: border-box;}
    body::-webkit-scrollbar {
        display: none;
      }

      /* mobile*/
      @media screen and (min-width: 480px) {

        body{
          width: 375px;
          height: 2000px;
         
        }
        .image_container{
          width: 90%;
          height:300px;
          background-color: rgb(255, 255, 255);
          text-align:center;
          background-image: url(./images/pattern-bg.svg);
          background-size: 88%;
          background-repeat: no-repeat;
          background-position-x: center;
          margin-left: 20px;
          padding-bottom: 20px;
        }
        .image{
          width: 63%;
          height:80%;
          border-radius: 5px;
          margin-top:30px;
          
        }
       
        .main_container{
          background-color: rgb(255, 255, 255);
          border-radius: 5px;
          padding: 4px;
          background-image: url(./images/pattern-curve.svg);
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: bottom; 
          width:80%; 
          margin-left: 200px;     
                 
        }
        .info_container{
         text-align: center;
          width:100%;
          height:150px;
          margin: auto;
          background-image: url(./images/pattern-quotes.svg);
          background-repeat: no-repeat;
          background-position-x: center;
          background-size: 17%;
         
        }
        .paragraph{
          
          padding-left: 30px;
          font-size: 18px;
          color: rgb(47, 46, 48);
          padding: 30px;  
               
   
        } 
        .titles_container{
          text-align:center;
          margin-top:10px;
          padding:0px;

        }
        .titles_container_title{
          color: rgba(192, 192, 238, 0.945);
          padding: 0px;
         margin-bottom: 80px;
          margin-top: 0px;

        }
        .titles_container_name{
          font-weight: bold;
          font-size: 14px;         
          margin-bottom: 0px;
        }
        .nav_button_container{
          margin-top:-60px;
          height: 30px;
          text-align: center;
          padding-left: 150px;
          margin-bottom: 30px;
        }
        .nav_button{
          width: 5%;
          height: 30px;
          background-color: rgb(252, 252, 253);
          display: flex;
          text-align: center;
          border-radius: 20px;
          position: absolute;
          margin: auto;
          box-shadow: 30px 0px 10px 10px rgba(0, 0, 0, 0.288);
        }
         
        .nav_button_slide{
          margin: auto;
          height: 40%;
          
        }

       
      }
      @media only screen and (min-width: 992px){
        body{
          width: 1440px;
          height: 2000px;
         
        }
        .main_container{
          background-color: rgb(255, 255, 255);
          border-radius: 5px;
          padding: 4px;
          background-image: url(./images/pattern-curve.svg);
          background-size: 100%;         
          width:80%; 
          display: flex;
          
          height: 20%;
          
          
                 
        }
        .image_container{
          width: 90%;
          height:100%;
          background-color: rgb(255, 255, 255);
          text-align:center;
          background-image: url(./images/pattern-bg.svg);
          background-size: 88%;
          background-repeat: no-repeat;
          background-position-x: center;
          right: 0;
          

         
        }
        .image{
          width: 63%;
          height:80%;
          border-radius: 5px;
          margin-top:30px;
          
        }
        .info_container{
          text-align: center;
           width:100%;
           height:100%;
           
           background-image: url(./images/pattern-quotes.svg);
           background-repeat: no-repeat;
           background-position-x: center;
           background-size: 17%;
           
          
         }
         .paragraph{
          
          padding-left: 30px;
          font-size: 18px;
          color: rgb(47, 46, 48);
          padding: 30px; 
          height: 100%; 
               
   
        }
        .nav_button_container{
          margin-top:-60px;
          height: 30px;
          text-align: center;
          padding-left: 150px;
          margin-bottom: 30px;
          
        } 


      }
     
      